#calendar-area{
    border: thick double #32a1ce;
    text-align: left;
    border-radius: 10px;
    overflow-x:hidden;
    margin: 0px;
}

.calendar-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color :#66d1fc40  ;
    line-height: 1;
}

.calendar-header .shoppinglist{
    margin-left: 5px;
}

.date-select{
    /* text-align: left; */
    /* font-size: 60%; */
}

.date-select > form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color :#66d1fc40  ;
    line-height: 1;
    padding : 5px;
    border-radius: 0;
}

.date-select span{
    align-self : end ;
    justify-self: center;
}

#date-submit{
    width : auto;
    display : inline;
}

.date-label, .date-input{
    display: block;
}

.date-select .date-input{
    width : auto;
    display : inline-block;
}


.min-max-button{
    justify-self: right;
}


.day-label{

}

.calendar, #calendar-area{
    margin : 0 0;
    padding: 0 0;
}

#calendar-area{
    z-index: 100;
    line-height: 0px;
    /* margin-top: 20px;  */
}

.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow-y: scroll;

}

.day, .day-label{
    display : inline-block;
    /* width : 13%; */
    border: solid;
    margin : 0 0;
    line-height: 1;
}

.day{
    background-color: #9ff5ff;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.day::-webkit-scrollbar {
    display: none;
  }

.maximized .day{
    height: 200px;
}

.window .day{
   height: 100px;
}


.day-label{
    text-align: center;
    background-color: #32a1ce;
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blank{
    background-color: aliceblue;
}

.day-meal{
    font-size: 50%;
}


.maximized{
    display :block ;
    position : absolute;
    min-width : 400px;
    max-width : 900px;
    width:80%;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: aliceblue;
    font-size: 26px;
    max-height: 100vh;
    filter: drop-shadow(10px 6px 6px #21216a);
    transition: max-width 0.5s, font-size 0.5s, transform 0.3s, top 1s, left 1s;
}


.maximized .date-select{
    font-size : clamp(14px, 2.5vw, 30px);
}

.window-container{
    display: inline-block;
    width : 400px; 
}

.window{
    background-color: aliceblue;
    display: inline-block;
    width : 400px; 
    font-size: 14px;
    transition: width 0.5s, font-size 0.5s, transform 0.3s, left 1s, top 1s;
}

.shopping-list li{
    margin : 1px;
    line-height: 1;
}

.calendar_warning{
    display : block;
    height : 1em;
    color : rgb(224, 185, 185);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(2, 2, 4), 0 0 1em blue, 0 0 0.2em blue;
}