main {
    font-size : 2vw;
}

.meal-heading h1 {
    margin : 5px;
}

.form-section {
    margin : 10px 0px;
    font-size : 16px;
}

.form-section > form{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    padding : 3px;
    padding-bottom : 15px;
}

.form-section > form > span:nth-child(4), .form-section > form > span:nth-child(5) {
    grid-column: 1 / span 3;
  }

.form-section > form input{
    margin : 2px auto;
}