.new-plan-page{
    padding : 10px 0px;
}

.new-plan-page form {

}

.check-tag{
    display : inline;
    width : auto;
    margin-right : 2px;
}

.tag{
    display : inline-block;
    width : auto;
    font-size: 14px;
    margin-right : 6px;
    background-color: rgb(232, 228, 187);
    border-radius: 10%;
    padding : 3px;
    margin : 5px 5px;
    height : 15px;
}

.tag label, .tag input{
    line-height: 0;
    height : 10px;
    margin : 0 0;
}

.diet-options, .health-options{
    text-align: left;
    padding : 10px 10px;
}