/****************************************************************
*                                                               *
*                  Landscape and Portrait settings              *
*                                                               *
****************************************************************/

/* Set the base text size for portrait mode */
@media only screen and (orientation : portrait)
{
    html
    {
        font-size: 16px
    }

    /*sets certain divs to stack when in portrait mode instead of being inline*/
    .phonify
    {
        display:block;
        width: 100%;
    }
}
/********************************************/


/* Set the base text size for landscape mode */
@media only screen and (orientation : landscape)
{
    html
    {
        font-size: 14px;
    }
    
}
/********************************************/
