#user_menu {
    position : absolute;
    top : 60px;
    background: black;
    font-size: 14px;
    padding : 5px;
    margin : 0;
    text-align: right;
    z-index: 100; 
    border: thick double #32a1ce;
    border-radius: 10px;
}

#user_menu p{
    margin : 3px auto;
}


.noshow {
    display: none;
}

.show {
    display: block;
}
